.login-wrapper {
    position: relative;
    top: 29vh;
    display: flex;
    justify-content: center;
}

.align-btn {
    display: flex;
    justify-content: center;
}

.m-b2 {
    margin-bottom: 2rem;
}